$primaryColor:#04d39f;
.billing_wraper{
    .billing_feilds{
        .form_group{
            label{
                display: block;
                font-size: 0.9rem;
                margin-bottom:0.5rem ;
                color: rgba(0, 0, 0, 0.65);
            }
            input,select{
                border: 1px solid #e5e5e5;
                padding: 0.6rem 0.6rem;
                border-radius: 3px;
                width: 100%;
                outline: none;

                .required{
                    text-decoration:underline dotted;
                    cursor: help;
                }
                
            }
            select{
                font-size: 0.9rem;
            }
                
            .error{
                color:#dc3545;
                font-size: 0.9rem;
            }
            input:focus , select:focus{
                border: 1px solid $primaryColor;
                
            }
        }
    }
    
}