$primary-color :#04d39f;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.footer_wraper{
    padding: 5.4rem 0;
    border-top:1px solid #ccc ;
    border-bottom:1px solid #ccc ;
}
.footer{
    p{
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.65);
    }
    h5{
        font-size: 1rem;
        font-weight: 700;
    }
    #fo_icon{
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link{
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 0.6rem;
        margin-right:0.3rem;
        transition: all 0.5s ease;
    }
    .link:hover{
        background-color: $primary-color;
        color: #fff;
        transition: all 0.4s ease;
    }
    ul{
        margin: 0;
        padding: 0;

        li{
            list-style-type: none;
            margin: 0.3rem;
        }
    }
    .footer_link{
        color: #969696;
        text-decoration: none;
        font-size: 0.9rem;
        transition: all 0.2s ease;

        #footer_arrow{
            font-size: 1rem;
            margin-right: 0.3rem;
            transition: all 0.2s ease; 
        }
    }
    .footer_link:hover{
        color: black;
        transition: all 0.2s ease;  
    }
    .footer_link:hover #footer_arrow{
        transform: translateX(3px);
        transition: all 0.2s ease;  
    }
    .footer_address{
        list-style-position: outside;

        #addres_icon{
            font-size: 1.1rem;
            color: $primary-color;
            margin: 0 0.5rem 0 0;
        }
        span{
            font-size: 0.9rem;
            color: #969696;
        }
    }
    .news_letter{
        input{
            padding: 0.5rem 0.7rem;
            border: 1px solid #ccc;
            outline: none;
        }
        input:active{
            border: 1px solid $primary-color;
        }
        button{
            padding: 0.5rem 0.7rem;
            border: none;
            background-color: $primary-color;
            border-radius: 0 3px 3px 0;
        }
        #send_icon{
           color: #fff; 
        }
    }
}
.footer_bottom{
    padding: 1.4rem 0;
    background-color: whitesmoke;
    
    p{
        font-size: 0.9rem;
        color: #969696;
    }
}
.top_arrow{
    background-color: $primary-color;
    color: #fff;
    display: inline-block;
    padding: 0.4rem;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
    border-radius: 3px;

    #icon{
        font-size: 1.7rem;
    }
}
.top_arrow:hover{
    color: #000;
}
.footer_top{
    padding: 2.4rem 0;

    p{
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.65);
    }
}